<h1>Settings</h1>

<%= form_for @settings, :url => { :action => :update }, :html => { :method => 'put' } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, value: @settings.title %>
  <%= f.label :text %>
  <%= f.text_area :text, value: @settings.text %>
  <%= f.submit%>
<% end %>
