<!DOCTYPE html>
<html>
<head>
  <title>Myproductiveday</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><%= link_to "Settings", settings_path %></li>
  <li><%= link_to "Reports",  reports_path  %></li>
  <li><%= link_to "People",   people_path   %></li>
</ul>

<%= yield %>

</body>
</html>
